/*variables that may apply to multiple styling compents and makes it more organized*/
$background-color: #e8f6fa;
$border:#252838;
$BG-color:whitesmoke;
$nav-color: blueviolet;
$P-color:#cc8ba7;
$visted:rgb(177, 123, 172);
$nav-Bg:#eae1f0;